*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background-color:#212631;
    --text-color: #ffffff;
    --foreground-color: #ffffff;
    --fg-text: #000000;
    --sec-col:#212631;
    --border:gray;
    
}

.main{
    display: flex;
}
.app{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    
}
.theme-dark{
    background: var(--background-color);
    color: var(--text-color);
    --background-color:whitesmoke;
    --sec-col:white;
    --text-color: #000;
    --border:none;
}

.container_right{
    margin-left: 17.2rem;
    width: 85%;
    color: var(--text-color);
    background-color: var(--background-color);
    
    
}
@media (max-width:980px){
    .container_left{
       display: none;
    }
    .container_right{
        width: auto;
    }
}