.charts-main h1{
    padding: 1rem;
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color);
}
.home{
    margin-left: 1rem;
    font-size: bold;
    color: rgb(63, 129, 227);
}
.charts-main{
    padding: 4rem 6rem; 
}
.chart{
    background: var(--sec-col);
    border: solid 1px var(--border);
    width: 48%;
}

@media (max-width:975px){
    .chart{
        width: 47%;
        height: 30vh;
    }
    
}
@media (max-width:1203px){
    .chart{
    width: 47%;
    }
}
@media (max-width:757px){
    .chart{
    max-width: 45%;
    }
}
@media (max-width:535px){
    .chart{
        width: 42%;
    }
    .chart h3{
        font-size: small;
    }
}