 .dashboard-main h1{
    padding: 1rem;
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color);
}
.home{
    margin-left: 1rem;
    font-size: bold;
    color: rgb(63, 129, 227);
}
.dashboard-main{
    padding: 4rem 6rem;
}
 
.sale-main {
    display: flex;
}

.sale-left {
    display: block;
    gap: 1rem;
    margin-left: 1rem;
    padding-top: 2rem;
}

.s-left1 {
    min-width: 490px;
    min-height: 19rem;
    background: var(--sec-col);
    border-radius: 10px;
    border: solid 1px var(--border);
    
}

.s-left2 {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;

}

.s-left3,
.s-left4 {
    display: flex;
    flex-direction: column;
    min-width: 237px;
    min-height: 10rem;
    background: var(--sec-col);
    border-radius: 10px;
    border: solid 1px var(--border)
    
}
    
.left-icons-main{
    display: flex;
    gap: 5rem;
    padding: 1rem;
    
}

.left-text,
.left-text1,
.left-text2{
       
    padding: .5rem 2rem ;
}
    
.left-text1{
    
    color: red;
}
.left-text2{
    color: green;
}
.arrows{
    display: inline;
    width: 20px;
}

.sale-right {
    flex: 1;
    height: 30rem;
    margin: 2rem 1rem;
    background: var(--sec-col);
    border-radius: 10px;
    border: solid 1px var(--border)
}
.bar-graph{
    padding: 2rem 2rem;
    
}


.users-main {

    display: flex;
    gap: 1rem;
    min-width: 100%;
}

.users-left {
    border-radius: 10px;
    margin: 1rem;
    min-height: 37.5rem;
    background: var(--sec-col);
    flex: 1;
    border: solid 1px var(--border)

}
.left-icons{
    width: 40px;
    border-radius:skyblue;
    border-radius: 7px;
    
    background-color: rgb(86, 206, 253);
}

.users {    
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: 1rem;
    border-radius: 5px;
    
    
}
.btn_add{
    width: 100%;
    height: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border: none;
    padding: 1rem;
    font-size: larger;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #3e3f42;
}
.btn_add:hover{
    background-color: #5c5d5f;
}
.add_btn{
    width: 20px;
}
.profile-head{
    display: flex;
    gap: 8rem;
    margin-left: 4rem;
    width: 90%;
    border-bottom: 1px solid rgb(184, 181, 181);
}
.profile-info{
    display: flex;
    gap: 8rem;
    width: 90%;
    margin-left: 4rem;
    border-bottom: 1px solid rgb(184, 181, 181);
}


.users-right {
    display: block;
    width: 20%;
    height: 40rem;
    

}
.Users-head{
    font-size: 25px;
    font-weight: bold;
}
.users-num{
    background: rgb(68, 139, 255) ;
}
.conversation{
    background: rgb(225, 198, 47);
}
.sessions{
    background: rgb(214, 44, 101);
}
.users-num,
.conversation,
.sessions {
    width: 90%;
    height: 190px;
    margin: 1rem;
    border-radius: 5px;
}
.users-converse{
    display: flex;

}
.users-num-info{
    display: flex;
    align-items: center;
    padding: 1rem;
    color: white;
}
.ellipsis{
    margin-left: 4rem;
}
.traffic-main{

    width: 98%;
    height: 40rem;
    border-radius: 5px;
    background: var(--sec-col);
    margin: 1rem;
    border: solid 1px var(--border)
}
.traffic{
    height: 7rem;
    border-bottom: 1px solid gray;
    padding: 1rem;
    margin: 2rem;
}
.traffic h3{
    font-size: 30px;
    font-weight: bold;
}
.percent{
    display: flex;
    gap: 4rem;
    align-items: center;
}
.register{
    display: flex;
    
}
.countyImg{
    display: flex;
    align-items: center;
}
@media (max-width:990px){
    .sale-main{
        display: block;
    }
    .s-left1{
        width: 100%;
        height: 100%;
    }
    .s-left3{
        min-width: 48%;
    }
    .s-left4{ 
        min-width: 50%;
    }
    .s-left2{
        display: flex;
    }
    .sale-right{
        min-width: 98%;
    }
    .main{
        display: block;
    }
    .users-main{
        display: block;
        width: auto;
    }
    .users{
        padding: 1rem;
        margin: 0rem;
    }
    .users-right{
        display: flex;
        
        min-width: 35%;
    }
    .btn_add{
        font-size: medium;
           
    }
    .profile-head{
        margin-left: 2rem;
    }
    .profile-info{
        margin-left: 2rem;
        
    }
    
    .county {
        
        margin-right: 6rem;
    }
     
    
    .activity{
        padding-left: rem;
    }
    .users-num-info,
    .users-converse{
        display: flex;
        
    }
}
@media (max-width:765px){
    .s-left1{
        min-width: 50%;
    }
}
@media (max-width:650px){
    .left-icons-main{
        gap: 1rem;
    }
}
@media (max-width:535px){
    .left-icons-main{
        gap: 0rem;
    }
}
