.dashboard-main h1{
    color:  #212631 !important;
}
.home{
    font-size: bold;
    color: rgb(63, 129, 227);
}
.dashboard-main{
    padding: 4rem 10rem;
}

.sale-main {
    display: flex;
}

.sale-left {
    display: block;
    gap: 1rem;
    margin-left: 1rem;
    padding-top: 2rem;
}

.s-left1 {
    width: 490px;
    height: 19rem;
    background: white;
    border-radius: 10px;
}

.s-left2 {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;

}

.s-left3,
.s-left4 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 237px;
    height: 10rem;
    background: white;
    border-radius: 10px;
    
}
.left-icons-main{
    display: flex;
    gap: 7rem;
    padding: 1rem;
}
.left-text,
.left-text1,
.left-text2{
    padding: .1rem 2rem ;
}
.left-text1{
    color: red;
}
.left-text2{
    color: green;
}
.arrows{
    width: 20px;
}
.sale-right {
    flex: 1;
    height: 30rem;
    margin: 2rem 1rem;
    background: white;
    border-radius: 10px;
}
.bar-graph{
    padding: 2rem 2rem;
    
}

.main {
    display: block;
}

.users-main {
    display: flex;
    gap: 1rem;
}

.users-left {
    border-radius: 10px;
    margin: 1rem;
    height: 37.5rem;
    background-color: white;
    flex: 1;
    

}
.left-icons{
    width: 40px;
    border-radius: 5px;
    color: rgb(37, 69, 247);
    background: skyblue;
  
}

.users {    
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: 1rem;
    border-radius: 5px;
    
}
.btn_add{
    width: auto;
    height: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border: none;
    padding: 1rem;
    font-size: larger;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #656667;
}
.add_btn{
    width: 20px;
}
.profile-head{
    display: flex;
    gap: 8rem;
    margin-left: 4rem;
}
.profile-info{
    display: flex;
    gap: 8rem;
    margin-left: 4rem;
}


.users-right {
    display: block;
    width: 20%;
    height: 40rem;
    

}

.users-num,
.conversation,
.sessions {
    width: 90%;
    height: 190px;
    background: white;
    margin: 1rem;
    border-radius: 5px;
}
.traffic-main{
    width: 97%;
    height: 40rem;
    border-radius: 5px;
    background: white;
    margin: 1rem;
}